@import "./header.css";
@import "./hero.css";
@import "./footer.css";
@import "./home.css";

body{
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}




